.container
  .row
    .col-md-12
      %h1.textcenter= "#{@classroom.name} - #{@classroom.subject.name}"

  .col-md-7
    %h2.textcenter Study Guides
    %ul.list-group
    - @classroom.study_guides.each do |guide|
      %li.list-group-item.textcenter= link_to guide.name, guide.doc_url, target: '_blank'
    %h2.textcenter Students
    %ul.list-group
      - @classroom.students.sort_by{|o| o.score }.reverse.each do |user|
        %li.textcenter.list-group-item= link_to "#{user.full_name} - #{user.score}", user_path(user)
  .col-md-5
    %h2.textcenter Feed
    %ul.list-group
      - @user_actions.each do |action|
        = render partial: 'user_actions/action', locals: {action: action}
